/*Copyright 2017 Henry Heffan

This file is part of XC Scorer.

XC Scorer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2.0 of the License, or
(at your option) any later version.

XC Scorer is distributed in the hope that it will be useful,
but XC Scorer ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with XC Scorer.  If not, see <http://www.gnu.org/licenses/>*/

.runnerB
{
	padding: 18px;
	margin:5px;
}
.phonePaddingB,.radiob,.nameI/*,.colorB*/
{
	padding: 10px;
}
.addSubB
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:5px;
}
/*.box{
	width:18px;
	height:18px;
	border: 3px solid black;
	margin:1px;
	line-height: 17px;
	text-align: center;
	font-size: 11px
}*/
